@import "app";

/***********
* colors
************/

$off_black: #4A4A4A;
$manila: #F5EDD3;
$grey: #999;

/***********
* variables
************/

/* breadcrumbs */
$crumb-bg: $manila;
$crumb-border-size: 0px;
$crumb-padding: 0px;
$crumb-font-color: $off_black;
$crumb-font-color-current: $grey;
$crumb-link-decor: underline;

/***********
* typo
************/

h1, h2, p, a, figcaption {
  color: $off_black;
}

p {
  text-align: left;
}

h1, h2 {
  text-transform: uppercase;
}

var {
  background: $off_black;
}

figcaption {
  font-size: emCalc(11px);
  text-align: center;
  max-width: 200px;
}

/***********
* main styling
************/

body {
  background: $manila;
}

figure {
  display: inline-block;
  margin-bottom: 20px;
  
  > img {
    max-width: 100%;
  }
}

strong {
  font-weight: bold;
}

/************
* scaffolding
*************/

section.main {
  @include grid-row;
  @include grid-column(12);

  > div {
    text-align: center;
  }
}

footer {
  @include grid-row;
  @include grid-column(12);
}

.break {
  @include grid-column(12);
  height: 100px;
}

/* header */

header {
  @include grid-row;
  @include grid-column(12);
  text-align: center;

  hr {
    border-color: $off_black;
    border-width: 5px;
  }
}

.content {
  @include grid-column(12);
}

/* contents */

ul.toc {
  @include grid-column(12);
  @include crumb-container;
  display: inline-block;
  text-align: center;

  .table {
    display: table;
    margin: 0 auto;

    > li {
      @include crumbs;

      &:first-child:before {
        content: " ";
      }
    }
  }
}

/* title page */

a.title {
  @include grid-column(12);
  height: auto;
  display: inline-block;
  cursor: pointer;
  margin: 20px 0;

  > img {
    margin: 0 auto;
  }
}

/* footer */

footer {
  margin-top:50px;
  text-align: right;
  
  a {
    color: black;
    cursor: pointer;
    font-size: 0.75em;

    &:hover {
      color: darken(pink, 20%);
      @include transition-property(color);
      @include transition-duration(0.2s);
    }
  }
}